# See https://help.github.com/ignore-files/ for more about ignoring files.

src/**/*.js

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.iml
*.ipr
*.iws
*.ids
*.pyc
*.rdb
resources/
target/
grunt-target/
*/target/
cts-messages/
*/cts-messages/
*/logs/
!logs/
*.log.*
*.log
*.classpath
Prosjektstrukturfiler
*.tmp*
/get-devices/.project
.*.swp
.idea
.DS_Store
get-cts/cts-messages
atlassian-ide-plugin.*
activemq-data/
*/activemq-data/
release.properties
*/release.properties
pom.xml.releaseBackup
*/pom.xml.releaseBackup
tmp/
node_modules
overlays
.classpath
.project
.settings/
.buildpath
*.bin
compiled-templates.js
maven-eclipse.xml
.externalToolBuilders
applications/ott/src/test/casperjs/ott/*.png
fabfile.pyc
vagrant/enonic/enonic-home/
vagrant/enonic/.vagrant*
.gradle/
build/
classes
**/webapp/blikunde/*
**/resources/public/*
/out
